<launch>
  <!-- node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" / -->
  <!-- node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" / -->
  <!-- load map -->
  <include file="$(find map)/launch/map_load.launch" />
  <!-- load lidar-->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch">

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 /base_link /laser 100"/>
  <!-- start amcl -->
  <include file="$(find point_to_point_nav)/launch/amcl.launch" />
  <!-- run rviz -->
  <node pkg="rviz" type="rviz" name="rviz" />
</launch>