<launch>
  <!-- launch rviz -->
  <node pkg="rviz" type="rviz" name="rviz" />
  <!-- node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" / -->
  <!-- node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" / -->
  
  <!-- load map -->
  <include file="$(find map)/launch/map_load.launch" />

  <!-- load lidar -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <!-- load odom -->
  <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" />

  <!-- launch lidar localization -->
  <node pkg="lidar_loc" type="lidar_loc" name="lidar_loc" >
    <param name="base_frame" value="base_footprint" />
    <param name="odom_frame" value="odom" />
    <param name="laser_frame" value="laser" />
    <param name="laser_topic" value="scan" />
  </node>
  
  <include file="$(find point_to_point_nav)/launch/base_link_to_laser.launch"/>

  <!-- launch move_base -->
  <include file="$(find point_to_point_nav)/launch/move_base.launch" />
</launch>