<launch>
  <!-- launch rviz -->
  <node pkg="rviz" type="rviz" name="rviz" />
  <!-- node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" / -->
  <!-- node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" / -->
  
  <!-- load map -->
  <include file="$(find map)/launch/map_load.launch" />

  <!-- load lidar -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  
  <!-- launch AMCL -->
  <include file="$(find point_to_point_nav)/launch/amcl.launch" />
  
  <!-- launch move_base -->
  <include file="$(find point_to_point_nav)/launch/move_base.launch" />
</launch>