manufacture/
manufacture/*
*.STL
structure/2nd/
*.DXF
docs/
.vscode/
.vscode/*
log/
log/*
build/
build/*
devel/
devel/*
.catkin_workspace
build_isolated/
build_isolated/*
devel_isolated/
devel_isolated/*
.rosinstall