[submodule "workspace/src/rplidar_ros"]
	path = workspace/src/rplidar_ros
	url = git@github.com:TangJingfan/rplidar_ros.git
[submodule "workspace/src/nanoflann"]
	path = workspace/src/nanoflann
	url = git@github.com:TangJingfan/nanoflann.git
